pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

.hgignore
.hg/
/.prepl-port
/checkouts
profiles.clj
.idea/
/.lein-*
.idea/
*.iml
.vscode
.lsp/*
.clj-kondo/*
/.clj-kondo/
clj-kondo/
.calva/*
/.shadow-cljs/
node_modules/
.shadow-cljs/
.cpcache/
node_modules/
target/
.nrepl-port

resources/public/js/*
!resources/public/js/.gitkeep
